[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "5.0.0"
python-dotenv = "*"
djangorestframework = "*"
django-countries = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
drf-spectacular = "*"
pillow = "*"
argon2-cffi = "*"
djoser = "*"
django-filter = "*"
django-celery-email = "*"

[dev-packages]
watchfiles = "*"
black = "*"

[requires]
python_version = "3.14"
